XML/XSD (Schemas)/mail.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="mail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="de" type="xs:string"/>
				<xs:element name="para" type="xs:string"/>
				<xs:element name="copia" type="xs:string"/>
				<xs:element name="copiaOculta" type="xs:string"/>
				<xs:element name="asunto" type="xs:string"/>
				<xs:element name="cuerpo" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="idNota" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>